<footer>
  <ul>
    <li>
      <h3>morethanspaces</h2>
       <p>People and brands choose
          morethanspaces because of
          our design, innovative ideas,
          service, support, and, more
          often than not, lower cost. We
          work on your terms to make
          your vision come alive.</p>
      </li>
      <li>
        <h3>resources</h3>
        <a href="{{site.baseurl}}/design-specs">graphic design</a>
        <a href="{{site.baseurl}}/design-specs">booth types</a>
        <a href="{{site.baseurl}}/design-specs">videowall</a>
        <a href="{{site.baseurl}}/design-specs">upload</a>
      </li>
      <li>
        <h3>address</h3>
        <a href="{{site.baseurl}}/design-specs">900 Wigwam Parkway, Henderson NV</a>
        <a href="{{site.baseurl}}/design-specs">1-800.326.0188</a>
        <a href="{{site.baseurl}}/design-specs">hello@morethanspaces.com</a>
        <a href="{{site.baseurl}}/design-specs">www.morethanspaces.com</a>
      </li>
      <li>
        <h3>inspiration</h3>
        <a href="https://www.pinterest.com.mx/MoreThanSpaces/">pinterest</a>
        <p>Every booth should be unique. If you’re not sure where to start, visit our Pinterest page where we are
        constantly adding interesting, unique and bold designs that could be great inspirations for your future
        trade show.</p>
      </li>
  </ul>
  <p class="colophon">© Morethanspaces {{ site.time | date: '%Y' }}, all rights reserved.</p>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/bundle.js"
  charset="utf-8"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/scrollmagic.js" charset="utf-8"></script>

</footer>
