<footer>
  <ul>
    <li>
      <h3>our brand</h3>
       <p>People and brands choose
          <b>morethanspaces</b> because of
          our design, innovative ideas,
          service, support, and, more
          often than not, lower cost. We
          work on your terms to make
          your vision come alive.</p>
          <div id="renderHere"></div>
          <a href="https://goo.gl/maps/ykw7oq8CJjx" target="_blank">900 Wigwam Parkway, Henderson NV</a>
      </li>
      <li>
        <h3>resources</h3>
        <p>Review our specifications on designs and uploads, trade show booths and video walls.</p>
        <a href="{{site.baseurl}}/assets/pdf/sample.pdf" target="_blank">graphic design specs</a>
        <a href="{{site.baseurl}}/assets/pdf/sample.pdf" target="_blank">booth types</a>
        <a href="{{site.baseurl}}/assets/pdf/sample.pdf" target="_blank">video walls</a>
        <a class="before-pinterest-snippet" href="{{site.baseurl}}/assets/pdf/sample.pdf" target="_blank">upload</a>
        <a data-pin-do="embedUser" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/morethanspaces/"></a>

      </li>
      <li>
        <h3>inspiration</h3>
        <p>Every booth should be unique. If you’re not sure where to start, visit our <a class="inline-link" href="https://www.pinterest.com/MoreThanSpaces/"><b>Pinterest</b></a> page where we are
        constantly adding interesting, unique and bold designs that could be great inspirations for your future
        trade show.<br>
      <b>Get inpired!</b></p>
      </li>
      <li class="realestate">
        <h3>contact us!</h3>
        <p>send us an email</p>
        <a href="mailto:hello@morethanspaces.com">hello@morethanspaces.com</a>
        <p>or call us!</p>
        <a href="tel:1 833 667 3842">1833-morethanspaces</a><br><a href="tel:1 833 667 3842">(1-833.667.3842)</a>
      </li>
  </ul>
  <p class="colophon">© <b>morethanspaces</b> {{ site.time | date: '%Y' }}, all rights reserved.</p>

  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  {% if page.layout == "default" %}
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/bundle.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/scrollmagic.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
  {% endif %}

</footer>
