@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-Bold.woff') format('woff'),
         url('../font/GothamRounded-Bold.ttf') format('truetype'),
         url('../font/GothamRounded-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-BoldItalic.woff') format('woff'),
         url('../font/GothamRounded-BoldItalic.ttf') format('truetype'),
         url('../font/GothamRounded-BoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-Medium.woff') format('woff'),
         url('../font/GothamRounded-Medium.ttf') format('truetype'),
         url('../font/GothamRounded-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-MediumItalic.woff') format('woff'),
         url('../font/GothamRounded-MediumItalic.ttf') format('truetype'),
         url('../font/GothamRounded-MediumItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-Book.woff') format('woff'),
         url('../font/GothamRounded-Book.ttf') format('truetype'),
         url('../font/GothamRounded-Book.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-BookItalic.woff') format('woff'),
         url('../font/GothamRounded-BookItalic.ttf') format('truetype'),
         url('../font/GothamRounded-BookItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-Light.woff') format('woff'),
         url('../font/GothamRounded-Light.ttf') format('truetype'),
         url('../font/GothamRounded-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'GothamRound';
    src: url('../font/GothamRounded-LightItalic.woff') format('woff'),
         url('../font/GothamRounded-LightItalic.ttf') format('truetype'),
         url('../font/GothamRounded-LightItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 100;
}
