<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}
    <section id="convention">
      <div class="convention_card">
        <h1><b>{{ page.title }}</b></h1>
        <h2>{{ page.convention_date }}</h2>
        <h2>{{ page.location }}</h2>
      </div>
      <img class="convention_card" src="{{site.baseurl}}/assets/img/conventions/{{page.logo}}">
      <div class="half-card">
        {{ content }}
      </div>
      <div class="half-card frompdf">
      <span>1,</span> <span>2,</span> <span>3 </span> <span> go</span>
      <div class="stepbox"><b>1:</b><p>choose your <br/>package</p></div>
      <div class="stepbox"><b>2:</b><p>communicate <br/>your needs</p></div>
      <div class="stepbox"><b>3:</b><p>we deliver</p></div>
      <p><b>more for less:</b><br/>
          better service, better products, better results, less stress, less worry</p>
      <p>All you have to do is show up and <b>let the show begin!</b> It’s that simple with <b>more than spaces</b></p>
      </div>
      <div class="row">
        <div class="half-card">
          <h2><b>more than spaces</b></h2>
          <p>Vendors spend a decent sum on making over the top booths for the world to see. It's imperative
            to visually express within your industry why you're one of the best contenders of your space.
            Morethanspaces provides all of the requirements important for an effective event. In most cases. we
            offer the best rates. Truth be told, we will attempt to match or beat any cost up to 20%. We gladly work
            with companies, event planners, and agencies across the USA. Morethanspaces is More for Less. It's simple!
            1. Pick your package 2. Communicate your needs 3. We deliver 1..2..3. GO! </p>
        </div>
        <div class="half-card">
          <h2><b>Las Vegas</b></h2>
          <p>Las Vegas is a standout amongst the most renowned destinations that companies gage due to
            it being the entertainment capital of the world. Conventions are a piece of the Las Vegas culture
            and have encircled itself around the about 28,000 meetings that happen in Vegas. An Estimated 6.3
            million guests come here to encounter the marvelousness trade shows. A portion of the 10 biggest
            shows are in Las Vegas are CES, Magic, World of Concrete, NAB (national association of broadcasting),
            JCK trade show, G2E(global gaming expo), SEMA, International Market Centers, National MIning Association,
            Nightclub and Bar convention.
          </p>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>

</html>
