<!DOCTYPE html>
<html>

  {% include head-conventions.html %}

  <body>
    <div class="conventionBackground">
      <div class="convention_card">
        <h2>your tradeshow expert for</h2>
        <h1><b>{{ page.title }}</b></h1>
        {% if page.convention_date %}
          <h3>{{ page.convention_date }}. {{ page.location }}</h3>
        {% endif %}
      </div>
      <div class="convention_card">
        {% if page.image %}
          <img src="../../assets/img/services/{{page.image}}">
        {% else if page.logo %}
          <img src="../../assets/img/conventions/{{page.logo}}">
        {% endif %}
      </div>
    </div>
    <section id="convention">
      <div id="content">
        {{ content }}
      </div>
    </section>
    <div id="app"></div>
    <script type="text/javascript" src="../../assets/js/conventions.js" charset="utf-8"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </body>

</html>
